.video-list {
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
	width: 500px;
	max-height: 1100px;
	overflow-y: auto;
	overflow-x: hidden;
	transform: rotate(-90deg) translateY(-40%);
	transform-origin: right top;
	&::-webkit-scrollbar {
		display: none;
	}
}

.video-item {
	padding: 50px;
	transform: rotate(90deg);
	transform-origin: right top;
}

.llist-wrapper {
	position: absolute;
	top: 50vw;
	left: 24, 5vh;
}
