.video-list {
  list-style: none;
  display: flex;
  overflow: auto;
}

.video-item {
  min-width: 280px;
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.llist-wrapper {
  position: absolute;
  top: 50vw;
  left: 24, 5vh;
}
