.card {
	margin: 0;
	padding: 10px;
	position: relative;
	width: 300px;
	height: 35vh;
	background-color: black;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
	&:hover,
	&:focus {
		.card-interfaces {
			display: block;
			opacity: 1;
		}
	}
}

.user-name {
	padding: 0;
	margin: 0;
	color: white;
}

.card-interfaces {
	position: absolute;
	bottom: 0px;
	left: 0px;

	padding: 10px;
	width: 100%;

	background-color: black;
	opacity: 0;
	transition: opacity 200ms linear;
}

.card-interfaces__like {
	border: none;
	cursor: pointer;

	transition: background-color 200ms linear;
	&:hover,
	&:focus {
		background-color: brown;
	}
}

.card-video {
	position: absolute;
	top: 40px;
	left: 0;
	width: inherit;
	height: 250px;
}
